body {
	padding: 50px;
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

.rover {
	min-width: 500px;
	padding: 10px 20px;
	display: inline-block;
	float: left;
	box-shadow: 0 0 10px #CCC;
	border-radius: 10px;
  margin: 0 10px;
}

button {
	display: block;
}
