<div id="rover{{ rover.id }}" class="rover">
    <input ng-model="rover.navigation.left" id="left-motor-{{ rover.id }}" class="motor motor-left" orient="vertical" type="range" value="0" min="-1" max="1" step="0.1" />
    <label for="left-motor-{{ rover.id }}" class="motor">{{ rover.navigation.left }}</label>
    <div class="camera-container">
        <canvas width="640" height="480" class="camera-rgb cyber-container" data-uri="{{ rover.sensors.camera.uri }}"></canvas>
        <div class="camera-layers">
        </div>
    </div>
    <input ng-model="rover.navigation.right" id="right-motor-{{ rover.id }}" class="motor motor-right" orient="vertical" type="range" value="0" min="-1" max="1" step="0.1" />
    <label for="right-motor-{{ rover.id }}" class="motor">{{ rover.navigation.right }}</label>
    <br />
    <small class="heartbeat">ID: <input ng-model="rover.id"></input></small>
    <small class="heartbeat">Heartbeat: <input ng-model="rover.heartbeat"></input></small>
    <small class="sensors-range">Range: <input ng-model="rover.sensors.range"></input></small>
    <div class="marker-container">
        <p>Mission Objectives</p>
        <marker ng-repeat="marker in rover.markers track by marker.id"></marker>
    </div>
    <br />
    <button ng-click="shutdown()">Shutdown</button>
    <button ng-click="debug()">Debug</button>
</div>
